:root {
    /* PROGRESS CARD */
    --background: #f5f7f9;
    --card: #ffffff;
    --text: #17202a;
    --secondary: #89939f;
    --border: #edf0f2;
    --accent: #45c98a;
    --progress-circle: 0deg;
    --progress-bar: 33%;
    --accent-dark: #24aa6d;
}