
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    .greeting {
        font-size: 14px;
        color: var(--secondary);
        margin-bottom: 3px;
    }
    .icon-button {
        width: 44px;
        height: 44px;
        border: none;
        border-radius: 14px;
        background: white;
        font-size: 19px;
        cursor: pointer;
        box-shadow: 0 3px 15px rgba(0, 0, 0, 0.05);
    }
        h1 {
        font-size: 30px;
        font-weight: 750;
    }
}